body {
  font-family: 'Manrope', sans-serif;
  font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 44px;
}

.counter {
  margin: 0 auto;
width: 700px;
padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: center;
}
.counter__value {

}
button {
  width: 100%;
 padding: 28px 0 28px 0;
color: #FFF;
border-radius: 20px;
border: none;

} 
.counter__addButton {
  background: #4191FF;
}
.counter__resetButton {
  background: #D45366;
}
.counter__addButton:hover,
.counter__resetButton:hover {
  opacity: 0.7;
}